<h4> Edit Account Information</h4>
<%= form_for @user do |f| %>
    <%= f.label :username%><br>
    <%= f.text_field :username %><br>
    <%= f.submit "Edit User"%>
<% end %>
<div id='check'>
    <div><%= flash[:check] %> </div>
</div>