<center><div class="header">
    <%= link_to "Champion List", '/champions'%>
    <%= link_to "Accounts", '/accounts' %>
    <%= link_to "Analytics", '/analytics' %>
</div><center>

<body class='home'><center>
    <div class=title><h1 class='Welcome'>Welcome To Engulf</h1>
    <label class='button'><%= button_to "New User", new_user_path, {method: "get", class: "user"} %></label>
    <label class='button'><%= button_to "Login", login_path, {method: "get", class: "session"} %></label>
<body></center>